# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.exp
*.png
*.7z

# Sharpmake and build output
*.sharpmake.cs.dll
projects/
*.log
buildsystem/tools/
tmp/
numhalide_win64.sln
.vs/
working_dir/

# CMake build output
build/
CMakeUserPresets.json
*.map
vcpkg_installed/

# Old structure
NumHalide/
WorkingDir/
*.tlog
examples/x64
